@model VendorViewModel
@using DevEK.Business.Models.Enums


<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" readonly class="form-control" />
</div>

<div class="form-group">
    <label asp-for="IdentifiyDocument" class="control-label"></label>
    <input asp-for="IdentifiyDocument" readonly class="form-control" />
</div>


<div class="form-group">
    <label asp-for="VendorType" class="control-label"></label>
    <input asp-for="VendorType" readonly class="form-control" />
</div>

<div class="form-group">
    <label asp-for="IsActive" class="control-label"></label>
    <input asp-for="IsActive" readonly class="form-control" />
</div>
