@model VendorViewModel

@{
    ViewData["Title"] = "Create New Vendor";
}

<h4>@ViewData["Title"]</h4>

<div class="backgroundWhiteBorder">

    <vc:Summary></vc:Summary>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <partial name="_EditField.cshtml" />
                <hr />
                <h5>Address</h5>
                <partial name="_AddressEdit.cshtml" />
                <partial name="_CreateAndBackToListButton" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        BuscaCep();
    </script>
}