@model VendorViewModel

@{
    ViewData["Title"] = "Delete";
}

<h4>New Vendor</h4>

<div class="backgroundWhiteBorder">

    <h2 class="text-danger">Are you sure you wanto to Delete this record?</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Delete" method="post">
                <partial name="_DetailField.cshtml" />
                <hr />
                <h5>Address</h5>
                <partial name="_AddressDetails.cshtml" />
                <partial name="_DeleteAndBackToListButton" model="@Model.Id" />
            </form>

        </div>
    </div>
</div>
