@model VendorViewModel

@{
    ViewData["Title"] = "Details";
}

<h4>Details Vendor</h4>

<div class="backgroundWhiteBorder">

    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="Id" />
            <partial name="_DetailField.cshtml" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <partial name="_DetailAndBackToListButton" model="@Model.Id" />
        </div>
    </div>

    <hr />
    <div class="container row">
        <h5>Address</h5>
        <partial name="_AddressDetails.cshtml" />
    </div>

    <hr />
    <div class="container row">
        <h5>Products</h5>
        <partial name="../Products/_ListOfProducts.cshtml" model="@Model.Products" />
    </div>

</div>
