@model VendorViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Vendor</h4>

<div class="backgroundWhiteBorder">

    <vc:Summary></vc:Summary>
    <form asp-action="Edit">

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Address.Id" />
        <input type="hidden" asp-for="Address.City" />
        <input type="hidden" asp-for="Address.Complement" />
        <input type="hidden" asp-for="Address.Number" />
        <input type="hidden" asp-for="Address.PostCode" />
        <input type="hidden" asp-for="Address.Region" />
        <input type="hidden" asp-for="Address.State" />
        <input type="hidden" asp-for="Address.Street" />


        <div class="row">
            <div class="col-md-6">
                <partial name="_EditField.cshtml" />
            </div>
        </div>
        <div class="row">
            <dv class="col-md-6">
                <partial name="_EditAndBackToListButton" model="@Model.Id" />
            </dv>
        </div>

        <hr />
        <div id="EnderecoTarget" class="container row">
            <h5>Address</h5>
            <partial name="_AddressDetails.cshtml"/>
        </div>
    </form>

</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div> 
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>$(document).ready(function () {
        AjaxModal();

    });</script>
}


