@model VendorViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Vendor</h4>

<div class="backgroundWhiteBorder">

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />
                <partial name="_EditField.cshtml" />
                <h5>Address</h5>
                <input type="hidden" asp-for="Address.Id" />
                <partial name="_AddressEdit.cshtml" />
                <partial name="_EditAndBackToListButton" model="@Model.Id" />
            </form>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
