
<div class="row">
    <div class="col-md-6 col-12">
        <button class="btn btn-primary form-control">Save</button>
    </div>

    <div class="col-md-6 col-12">
        <a class="btn btn-info form-control" asp-action="Index">Back to List</a>
    </div>
</div>