@model IEnumerable<ProductViewModel>


@{
    ViewData["Title"] = "List of Products";
}

<h4>@ViewData["Title"]</h4>

<div class="backgroundWhiteBorder">

    <p> <a asp-action="Create" class="btn btn-primary">Create</a> </p>
    <vc:Summary></vc:Summary>
    <partial name="_ListOfProducts.cshtml" />

</div>